In [1]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.12.tar.gz (79 kB)
     ---------------------------------------- 0.0/79.7 kB ? eta -:--:--
     --------- ---------------------------- 20.5/79.7 kB 640.0 kB/s eta 0:00:01
     -------------------------------------- 79.7/79.7 kB 890.0 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\all\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\all\anaconda3\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\all\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\all\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\all\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\all\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\all\anaconda3\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\users\all\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\all\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\all\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\all\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\all\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\all\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\all\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.12-py3-none-any.whl size=102984 sha256=76a42fab18cd234f2e659796c5922034970e2fed490876257f49752c8d90505a
  Stored in directory: c:\users\all\appdata\local\pip\cache\wheels\f3\eb\e9\819c2d9eac90204eec8579430759f75a1d6dbe4cd0b93f53bc
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.6.12
Note: you may need to restart the kernel to use updated packages.

In [54]:
import kaggle

In [55]:
!kaggle datasets download nehalrout/sales-order -f sales_data.csv

Dataset URL: https://www.kaggle.com/datasets/nehalrout/sales-order
License(s): unknown
sales_data.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [9]:
import zipfile
zip_ref = zipfile.ZipFile('sales_data.csv.zip')
zip_ref.extractall() #extract the file to dur
zip_ref.close() #close the file

In [64]:
import pandas as pd
df = pd.read_csv('sales_data.csv')
df.head(20)

,Order Date,Order ID,Product,Product_ean,catégorie,Purchase Address,Quantity Ordered,Price Each,Cost price,turnover,margin
0,2019-01-22 21:25:00,141234,iPhone,5.638009e+12,Vêtements,"944 Walnut St, Boston, MA 02215",1,700.00,231.0000,700.00,469.0000
1,2019-01-28 14:15:00,141235,Lightning Charging Cable,5.563320e+12,Alimentation,"185 Maple St, Portland, OR 97035",1,14.95,7.4750,14.95,7.4750
2,2019-01-17 13:33:00,141236,Wired Headphones,2.113973e+12,Vêtements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.9950,23.98,11.9900
3,2019-01-05 20:33:00,141237,27in FHD Monitor,3.069157e+12,Sports,"738 10th St, Los Angeles, CA 90001",1,149.99,97.4935,149.99,52.4965
4,2019-01-25 11:59:00,141238,Wired Headphones,9.692681e+12,Électronique,"387 10th St, Austin, TX 73301",1,11.99,5.9950,11.99,5.9950
5,2019-01-29 20:22:00,141239,AAA Batteries (4-pack),2.953869e+12,Alimentation,"775 Willow St, San Francisco, CA 94016",1,2.99,1.4950,2.99,1.4950
6,2019-01-26 12:16:00,141240,27in 4K Gaming Monitor,5.173671e+12,Vêtements,"979 Park St, Los Angeles, CA 90001",1,389.99,128.6967,389.99,261.2933
7,2019-01-05 12:04:00,141241,USB-C Charging Cable,8.051737e+12,Vêtements,"181 6th St, San Francisco, CA 94016",1,11.95,5.9750,11.95,5.9750
8,2019-01-01 10:30:00,141242,Bose SoundSport Headphones,1.508418e+12,Électronique,"867 Willow St, Los Angeles, CA 90001",1,99.99,49.9950,99.99,49.9950
9,2019-01-22 21:20:00,141243,Apple Airpods Headphones,1.386344e+12,Électronique,"657 Johnson St, San Francisco, CA 94016",1,150.00,97.5000,150.00,52.5000
10,2019-01-07 11:29:00,141244,Apple Airpods Headphones,4.332899e+12,Vêtements,"492 Walnut St, San Francisco, CA 94016",1,150.00,97.5000,150.00,52.5000
11,2019-01-31 10:12:00,141245,Macbook Pro Laptop,1.169380e+12,Vêtements,"322 6th St, San Francisco, CA 94016",1,1700.00,561.0000,1700.00,1139.0000
12,2019-01-09 18:57:00,141246,AAA Batteries (4-pack),4.436185e+12,Vêtements,"618 7th St, Los Angeles, CA 90001",3,2.99,1.4950,8.97,4.4850
13,2019-01-25 19:19:00,141247,27in FHD Monitor,7.313826e+12,Vêtements,"512 Wilson St, San Francisco, CA 94016",1,149.99,97.4935,149.99,52.4965
14,2019-01-03 21:54:00,141248,Flatscreen TV,4.062756e+12,Électronique,"363 Spruce St, Austin, TX 73301",1,300.00,99.0000,300.00,201.0000
15,2019-01-05 17:20:00,141249,27in FHD Monitor,9.643428e+12,Alimentation,"440 Cedar St, Portland, OR 97035",1,149.99,97.4935,149.99,52.4965
16,2019-01-10 11:20:00,141250,Vareebadd Phone,6.721780e+12,Alimentation,"471 Center St, Los Angeles, CA 90001",1,400.00,132.0000,400.00,268.0000
17,2019-01-24 08:13:00,141251,Apple Airpods Headphones,2.700100e+12,Alimentation,"414 Walnut St, Boston, MA 02215",1,150.00,97.5000,150.00,52.5000
18,2019-01-30 09:28:00,141252,USB-C Charging Cable,3.692435e+12,Sports,"220 9th St, Los Angeles, CA 90001",1,11.95,5.9750,11.95,5.9750
19,2019-01-17 00:09:00,141253,AA Batteries (4-pack),6.741496e+12,Alimentation,"385 11th St, Atlanta, GA 30301",1,3.84,1.9200,3.84,1.9200

In [65]:
df['Product'].unique()

array(['iPhone', 'Lightning Charging Cable', 'Wired Headphones',
       '27in FHD Monitor', 'AAA Batteries (4-pack)',
       '27in 4K Gaming Monitor', 'USB-C Charging Cable',
       'Bose SoundSport Headphones', 'Apple Airpods Headphones',
       'Macbook Pro Laptop', 'Flatscreen TV', 'Vareebadd Phone',
       'AA Batteries (4-pack)', 'Google Phone', '20in Monitor',
       '34in Ultrawide Monitor', 'ThinkPad Laptop', 'LG Dryer',
       'LG Washing Machine'], dtype=object)

In [75]:
#df.columns = df.columns.str.lower() # convert all the values to small
df.columns

Index(['order date', 'order id', 'product', 'product_ean', 'categorie',
       'purchase address', 'quantity ordered', 'price each', 'cost price',
       'turnover', 'margin'],
      dtype='object')

In [84]:
df.columns.str.replace(' ','_') #replace spaces with _

Index(['order_date', 'order_id', 'product', 'product_ean', 'categorie',
       'purchase_address', 'quantity_ordered', 'price_each', 'cost_price',
       'turnover', 'margin'],
      dtype='object')

In [86]:
df.columns

Index(['order_date', 'order_id', 'product', 'product_ean', 'categorie',
       'purchase_address', 'quantity_ordered', 'price_each', 'cost_price',
       'turnover', 'margin'],
      dtype='object')

In [91]:
df['order_date'] = pd.to_datetime(df['order_date']) #change the order_date datatype

In [92]:
df.dtypes

order_date          datetime64[ns]
order_id                     int64
product                     object
product_ean                float64
categorie                   object
purchase_address            object
quantity_ordered             int64
price_each                 float64
cost_price                 float64
turnover                   float64
margin                     float64
dtype: object

In [96]:
#load the data into sql server using replace option
import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-7HE4RC1\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn = engine.connect()

In [100]:
#load the data into sql server using append option
df.to_sql('df_sales', con=conn, index=False, if_exists='replace')

-1